* {
    padding: 0;
    margin: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(255,255,255);
}



/* HEADER */
header {
    background: #F90909;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

header h1 {
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 50px;
}

#container {
    width: 90%;
    margin: 0 auto;

}

/* NAV */

nav {
    background: #5cb7cf;
    border-radius: 5px;
    margin: 20px 0;
}

nav ul li {
    display: inline-block;
    padding: 15px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #f90909;
    color: white;
    cursor: pointer;

}


.clearfix {
    clear: both;
}

/* SECTION */
section {
    float: left;
    width: calc(75% - 70px);
    min-height: 500px;
    margin-right: 33px;
}



.article-item img{
width: 100%;
margin-bottom: 20px;
}

.article-item  p{
    text-align: justify;
    color: gray;
    margin-bottom: 10px;
}

.article-item h2 {
    font-size: 30px;
    margin: 20px 0;
    color: #FF3D00;
    
}


/* ASIDE --SIDEBAR */
aside {
    float: left;
    width: calc(30% - 30px);
}
.sidebar1{
    border: 1px solid rgba(17,17,17,.1);
    min-height: 500px;
    margin: 20px 0;
    text-align: center;
    padding: 10PX;
}

 .form input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 15px;

}

.btn {

    background-color: rgb(38, 148, 96);
    border: none;
    font-size: 18px;
    font-weight: 400px;
}

.btn:hover {
background: #FF3D00;
color: white;
cursor: pointer;
transition: all ease-in 0.5s;
}


.sidebar2{
    border: 1px solid rgba(17,17,17,.1);
    min-height: 500px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10PX;



}

.sidebar3{
    border: 1px solid rgba(17,17,17,.1);
    min-height: 500px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10PX;


}

.publicidad{
    width: 300px;
    height: 300px;
    border: 1px solid rgba(17,17,17,.1);
    margin: auto;
    text-align: center;
    padding: 10PX;

}


/* FOOTER */
footer {
    background:  #455A64;
    height: 300px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-item{
    background-color: #263238;
    border-top: 1px solid gray ;
    width: 100%;
}

.footer-item h2{
    color: white;
    text-align: center;
    padding: 10px 0;
}
